{
  "presets": [
    ["next/babel", {
      "preset-env": {
        "targets": {
          "browsers": [
            "chrome >= 61",
            "edge >= 15",
            "firefox >= 52",
            "ie >= 11"
          ]
        }
      }
    }]
  ],
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ],
    [
      "module-resolver", {
        "alias": {
          "@styles": "./src/styles",
          "@actions": "./src/actions",
          "@pages": "./pages",
          "@components": "./src/components",
          "@reducers": "./src/reducers",
          "@sagas": "./src/sagas",
          "@myUtils": "./src/myUtils",
          "@constants": "./src/config/constants.js",
          "@initConfig": "./src/config/initConfig.js",
          "@store": "./src/store",
          "@assets": "./src/assets",
          "@hooks": "./src/hooks"
        }
      }
    ],
    ["lodash"]
  ]
}